<form [formGroup]="loginForm">
    <div class="flex flex-col gap-3">
        <div class="flex flex-col gap-1">
            <label>Email ID <span class="text-red-500">*</span></label>
            <input type="text" class="border border-gray-200" formControlName="email" />
            <!--
                hasError('controlName'):boolean : this will check control contains error or not
            -->
            <div *ngIf="loginForm.controls.email.hasError('required') && loginForm.controls.email.touched && loginForm.controls.email.dirty"
                class="text-red-500">
                This field is requried
            </div>
            <div *ngIf="loginForm.controls.email.hasError('email')" class="text-red-500">
                Invalid email format
            </div>
        </div>
        <div class="flex flex-col gap-1">
            <label>Password <span class="text-red-500">*</span></label>
            <input type="password" class="border border-gray-200" formControlName="pwd" />
            <div *ngIf="loginForm.controls.pwd.hasError('required')  && loginForm.controls.pwd.touched && loginForm.controls.pwd.dirty" class="text-red-500">
                This field is requried
            </div>
            <div *ngIf="loginForm.controls.pwd.hasError('minlength')" class="text-red-500">
                Minimum length requried
            </div>
        </div>

        <!--
            [disabled]="!loginForm.valid"
        -->
        <button class="border border-green-00 bg-green-300 px-2 rounded-sm hover:bg-green-400 disabled:bg-gray-500"
            (click)="handleLogin()">Login</button>
    </div>
</form>